<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head"></head>

<body>
<div th:replace="template :: header"></div>

<!--<form method="post" th:action="@{/home/save}">-->
<!--    <input readonly th:name="id" th:value="*{user.id}">-->
<!--    <input th:name="username" th:value="*{user.username}">-->
<!--    <input th:name="password" th:value="*{user.password}">-->

<!--    <input type="submit" value="Submit">-->
<!--    <a th:href="@{/home/delete/{id}(id=${user.id})}">Delete</a>-->
<!--</form>-->

<div class="d-flex align-items-start">
    <div aria-orientation="vertical" class="nav flex-column nav-pills">
        <th:block th:each="role, stat:${user.roles}">
            <button aria-selected="true"
                    class="nav-link"
                    data-bs-toggle="pill"
                    th:classappend="${stat.first} ? 'active'"
                    th:data-bs-target="'#' + ${role.role}"
                    th:text="${role.role}"
                    type="button">
            </button>
        </th:block>
    </div>
    <div class="tab-content">
        <th:block th:each="role, stat:${user.roles}">
            <div class="tab-pane" th:attr="id=${role.role}" th:classappend="${stat.first} ? 'show active' : 'fade'">
                <h1 th:text="${role.role}"></h1>

                <ul class="nav nav-tabs" th:if="${role.role} == 'ADMIN'">
                    <li class="nav-item">
                        <a aria-selected="true"
                           class="nav-link active"
                           data-bs-target="#tab-1"
                           data-bs-toggle="pill"
                           href="#">
                            Users
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-selected="false"
                           class="nav-link"
                           data-bs-target="#tab-2"
                           data-bs-toggle="pill"
                           href="#">
                            Add New
                        </a>
                    </li>
                </ul>

                <div class="fade show active" id="tab-1" th:if="${role.role} == 'ADMIN'">
                    <div class="tab-content-row">
                        <h2>Users</h2>
                    </div>
                    <div class="tab-content-row">
                        <table class="table">
                            <thead>
                            <tr>
                                <td>ID</td>
                                <td>Username</td>
                                <td>Password</td>
                                <td>Roles</td>
                                <td>Edit</td>
                                <td>Delete</td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item : ${users}">
                                <td th:text="${item.id}">2</td>
                                <td th:text="${item.username}"></td>
                                <td th:text="${item.password}"></td>
                                <td>
                                    <span th:each="r:${item.roles}">
                                        <span th:text="${r.role}"></span>
                                    </span>
                                </td>
                                <td>
                                    <a class="btn btn-success">
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" th:href="@{/home/delete/{id}(id=${item.id})}">
                                        Delete
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="fade" id="tab-2" th:if="${role.role} == 'ADMIN'">
                    <div class="tab-content-row">
                        <h2>New user</h2>
                    </div>
                    <div class="tab-content-row">
                        Under maintains...
                    </div>
                </div>

                <div class="tab-content-row" th:if="${role.role} != 'ADMIN'">
                    <h2>User</h2>
                </div>
                <div class="tab-content-row" th:if="${role.role} != 'ADMIN'">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>ID</td>
                            <td>Username</td>
                            <td>Password</td>
                            <td>Roles</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.id}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.password}"></td>
                            <td>
                                <span th:each="role:${user.roles}">
                                    <span th:text="${role.role}"></span>
                                </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </th:block>
    </div>
</div>


<div th:replace="template :: footer"></div>
</body>
</html>