<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="template :: head"></head>

<body>
<div th:replace="template :: header"></div>

<th:block th:each="user:${users}">
    <form method="post" th:action="@{/users/save}">
        <input readonly th:name="id" th:value="${user.id}">
        <input th:name="username" th:value="*{user.username}">
        <input th:name="password" th:value="*{user.password}">

        <input type="submit" value="Submit">
        <a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a>
    </form>
</th:block>

<div th:replace="template :: footer"></div>
</body>
</html>